@import "common/var.css";

.h-col{
  float:left;
  box-sizing: border-box;

}

@for $i from 1 to 24 {
  .h-col-$i{
    width: calc($i / 24 * 100)%;
  }
  .h-col-offset-$i{
    margin-left:calc($i / 24 * 100)%;
  }
  .h-col-pull-$i {
    position: relative;
    right: calc($i / 24 * 100)%;
  }
  .h-col-push-$i {
    position: relative;
    left: calc($i / 24 * 100)%;
  }


  @media (max-width: 1920px) {

    .h-col-xxxl-$i{
      float:left;
      box-sizing: border-box;
      width: calc($i / 24 * 100)%;
    }
    .h-col-xxxl-offset-$i{
      margin-left:calc($i / 24 * 100)%;
    }
    .h-col-xxxl-pull-$i {
      position: relative;
      right: calc($i / 24 * 100)%;
    }
    .h-col-xxxl-push-$i {
      position: relative;
      left: calc($i / 24 * 100)%;
    }
  }

  @media (min-width: 1200px) and (max-width: 1920px) {

    .h-col-xxl-$i{
      float:left;
      box-sizing: border-box;
      width: calc($i / 24 * 100)%;
    }
    .h-col-xxl-offset-$i{
      margin-left:calc($i / 24 * 100)%;
    }
    .h-col-xxl-pull-$i {
      position: relative;
      right: calc($i / 24 * 100)%;
    }
    .h-col-xxl-push-$i {
      position: relative;
      left: calc($i / 24 * 100)%;
    }
  }


  @media (min-width: 992px) and (max-width:1200px) {

    .h-col-xl-$i{
      float:left;
      box-sizing: border-box;
      width: calc($i / 24 * 100)%;
    }
    .h-col-xl-offset-$i{
      margin-left:calc($i / 24 * 100)%;
    }
    .h-col-xl-pull-$i {
      position: relative;
      right: calc($i / 24 * 100)%;
    }
    .h-col-xl-push-$i {
      position: relative;
      left: calc($i / 24 * 100)%;
    }
  }

  @media (min-width:768px) and (max-width:992px) {

    .h-col-l-$i{
      float:left;
      box-sizing: border-box;
      width: calc($i / 24 * 100)%;
    }
    .h-col-l-offset-$i{
      margin-left:calc($i / 24 * 100)%;
    }
    .h-col-l-pull-$i {
      position: relative;
      right: calc($i / 24 * 100)%;
    }
    .h-col-l-push-$i {
      position: relative;
      left: calc($i / 24 * 100)%;
    }
  }

  @media (min-width: 480px) and (max-width: 768px) {

    .h-col-m-$i{
      float:left;
      box-sizing: border-box;
      width: calc($i / 24 * 100)%;
    }
    .h-col-m-offset-$i{
      margin-left:calc($i / 24 * 100)%;
    }
    .h-col-m-pull-$i {
      position: relative;
      right: calc($i / 24 * 100)%;
    }
    .h-col-m-push-$i {
      position: relative;
      left: calc($i / 24 * 100)%;
    }
  }

  @media (min-width: 360px) and (max-width: 480px) {

    .h-col-s-$i{
      float:left;
      box-sizing: border-box;
      width: calc($i / 24 * 100)%;
    }
    .h-col-s-offset-$i{
      margin-left:calc($i / 24 * 100)%;
    }
    .h-col-s-pull-$i {
      position: relative;
      right: calc($i / 24 * 100)%;
    }
    .h-col-s-push-$i {
      position: relative;
      left: calc($i / 24 * 100)%;
    }
  }
}
